.header {
  padding: 20px;
  color: white;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  gap: 13px;
}

.menu li {
  cursor: pointer;
  transition: all .5s ease;
}

.menu li:hover {
  color: aquamarine;
}